.hero {
  background: url("../../../public/images/B&W_bg.jpg");
  background-size:cover;
 }
 .text{
   color:white;
 }

@media screen and (min-width: 769px), print {
  .title {
    font-size: 2.5rem; } }

@media screen and (min-width: 1000px) {
  .title {
    font-size: 4rem;
    max-resolution: 2rem; } }

h2 {
  margin: 1.5rem 0 2rem 0 !important; }

fa-cog {
  font-size: 40px; }

@media screen and (min-width: 1000px) {
  #learn {
    margin-bottom: 2rem; } }

@media screen and (min-width: 769px), print {
  .pd {
    padding: 2rem 0; } }

.columns {
  flex-wrap: wrap; }

.card-one {
  color: white;
  background-color: #35D3B4; }

.card-two {
  color: white;
  background-color: #1B2191; }

.card-three {
  color: white;
  background-color: #D822EE; }
