.footer{
  background:black;
  color:#d3d3d3;
  height: 400px;
  width: 100%;

}
.footer .footer-content{
  height:350px;
  display: flex;
}
.footer .footer-content .footer-section{
  text-align: center;
  flex:1;

}
@media screen and (min-width: 1000px) {
   }

@media screen and (min-width: 769px),print{
  .footer .footer-content .footer-section{
    flex-wrap: wrap;
  
  }}